---
import * as styles from "./Activity.css";

export type Props = Record<string, never>;
---

<dl class={styles.activity}>
	<div class={styles.group}>
		<dt class={styles.term}>日時</dt>
		<dd>毎週火・木曜日 16:30〜18:30</dd>
	</div>
	<div class={styles.group}>
		<dt class={styles.term}>場所</dt>
		<dd>電気電子工学科棟 3F ラボラトリ3の隣の部屋</dd>
	</div>
</dl>
