---
import { Image } from "astro:assets";

import hero from "~/assets/hero.jpg";

import * as styles from "./Hero.css";

export type Props = Record<string, never>;
---

<section class={styles.hero}>
	<Image
		src={hero}
		alt=""
		class={styles.image}
		widths={[512, 1024, 2048, 4096, hero.width]}
		sizes="100vw"
	/>
	<h1 class={styles.copy}>
		<span class={styles.copyLine}>一人では作れないものが、</span>
		<span class={styles.copyLine}>そこにはあった。</span>
	</h1>
</section>
